.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .clubs .ant-carousel{
    background: #fff;
  }

  .main-content{
    padding-top: 20px;
  }

.list-span{
  display: inline-block;
}

.list-avatar{
  padding-right: 5px;
  padding-left: 10px;
}
.list-title{
  padding-right: 25px;
}
.list-time{
  padding-right: 5px;
}
